<div class="navbar-royston">
  <!-- Logo -->
  <a href="/" class="navbar-royston-brand">
    <img src="" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-royston-right hidden-xs hidden-sm">

    <a href="" class="navbar-royston-item navbar-royston-link">Host</a>
    <a href="" class="navbar-royston-item navbar-royston-link">Trips</a>
    <a href="" class="navbar-royston-item navbar-royston-link">Messages</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-royston-item">
      <div class="dropdown">
        <!-- <img src="https://kitt.leroyston.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-royston-menu" data-toggle="dropdown"> -->
        <ul class="dropdown-menu dropdown-menu-right navbar-royston-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-royston-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-royston-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>

<div id class="lyt_Site">
  <header class="hd_Header">
    <div class="hd-Header_Menu" style="min-width: 504px;">
      <!-- <a href="/" class="hd-Header_LogoFull"> -->
        <!-- <svg>
          <defs>
            <linearGradient id="afull"></linearGradient>
            <linearGradient id="bfull"></linearGradient>
            <linearGradient id="cfull"></linearGradient>
          </defs>
          <g fill></g>
        </svg> -->
      <!-- </a> -->
      <nav class="hd-Header_Nav">
        <ul class="nav-Navigation_Items">

          <li aria-current="true" class="nav-Navigation_Items">
            <div class="nav-Navigation_Main">
              <a href="/" class="nav-Navigation_Link">
                Home
              </a>
            </div>
          </li>

          <li aria-current="false" class="nav-Navigation_Item nav-Navigation_Item-hasDropdown">
            <div class="nav-Navigation_Main">
              <a href="/about-us/" class="nav-Navigation_Link">
                About us
              </a>
              <span class="nav-Navigation_DropdownIndicator">
                <i class="fal fa-angle-down"></i>
              </span>
            </div>
          </li>

          <li aria-current="false" class="nav-Navigation_Item nav-Navigation_Item-hasDropdown">
            <div class="nav-Navigation_Main">
              <a href="/pre-press-services/" class="nav-Navigation_Link">
                Pre-press services
              </a>
              <span class="nav-Navigation_DropdownIndicator">
                <i class="fal fa-angle-down"></i>
              </span>
            </div>
            <ul class="nav-Navigation_Dropdown" style="display: block;">
              <li class="nav-Navigation_Item">
                <a href="/pre-press-services/artwork-updates/" class="nav-Navigation_Link">Artwork updates</a>
              </li>
              <li class="nav-Navigation_Item">
                <a href="/pre-press-services/colour-retouching/" class="nav-Navigation_Link">Colour retouching</a>
              </li>
              <li class="nav-Navigation_Item">
                <a href="/pre-press-services/complete-reprographics/" class="nav-Navigation_Link">Complete Reprographics</a>
              </li>
              <li class="nav-Navigation_Item">
                <a href="/pre-press-services/artwork-proofing/" class="nav-Navigation_Link">Artwork proofing</a>
              </li>
              <li class="nav-Navigation_Item">
                <a href="/pre-press-services/plate-making/" class="nav-Navigation_Link">Plate making</a>
              </li>
              <li class="nav-Navigation_Item">
                <a href="/pre-press-services/screen-making/" class="nav-Navigation_Link">Screen making</a>
              </li>
            </ul>
          </li>

          <li aria-current="false" class="nav-Navigation_Item nav-Navigation_Item-hasDropdown">
            <div class="nav-Navigation_Main">
              <a href="/print-technologies/" class="nav-Navigation_Link">
                Print technologies
               </a>
               <span class="nav-Navigation_DropdownIndicator">
                <i class="fal fa-angle-down"></i>
              </span>
            </div>
            <ul class="nav-Navigation_Dropdown" style="">
              <li class="nav-Navigation_Item">
                <a href="/print-technologies/flexography/" class="nav-Navigation_Link">Flexography</a>
              </li>
              <li class="nav-Navigation_Item">
                <a href="/print-technologies/screen-printing/" class="nav-Navigation_Link">Screen printing</a>
              </li>
              <li class="nav-Navigation_Item">
                <a href="/print-technologies/combination-printing/" class="nav-Navigation_Link">Combination printing</a>
              </li>
              <li class="nav-Navigation_Item">
                <a href="/print-technologies/digital/" class="nav-Navigation_Link">Digital</a>
              </li>
            </ul>
          </li>
          <li aria-current="false" class="nav-Navigation_Item nav-Navigation_Item-hasDropdown"><div class="nav-Navigation_Main"><a href="/embellishment-techniques/" class="nav-Navigation_Link">
          Embellishment techniques
          </a> <span class="nav-Navigation_DropdownIndicator">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82 48"><path fill-rule="evenodd" d="M80.84 5.18L76.77 1.105C76.225.562 75.6.29 74.893.29c-.705 0-1.33.272-1.873.816L41 33.126 8.98 1.105C8.44.564 7.814.293 7.108.293s-1.33.27-1.874.815L1.16 5.18C.616 5.723.345 6.348.345 7.054c0 .706.272 1.33.815 1.874l37.966 37.967c.543.543 1.168.814 1.874.814.706 0 1.33-.272 1.873-.815L80.84 8.928c.544-.543.814-1.168.814-1.874 0-.706-.27-1.33-.813-1.875z"></path></svg> -->
          </span></div> <ul class="nav-Navigation_Dropdown" style=""><li class="nav-Navigation_Item"><a href="/embellishment-techniques/hot-foiling/" class="nav-Navigation_Link">Hot foiling</a></li> <li class="nav-Navigation_Item"><a href="/embellishment-techniques/textured-patterned-foil-blocking/" class="nav-Navigation_Link">Textured &amp; patterned foil blocking</a></li> <li class="nav-Navigation_Item"><a href="/embellishment-techniques/cold-foiling/" class="nav-Navigation_Link">Cold foiling</a></li> <li class="nav-Navigation_Item"><a href="/embellishment-techniques/innovative-laminating/" class="nav-Navigation_Link">Innovative laminating</a></li> <li class="nav-Navigation_Item"><a href="/embellishment-techniques/raised-tactile-spot-varnish/" class="nav-Navigation_Link">Raised, tactile &amp; spot varnish</a></li> <li class="nav-Navigation_Item"><a href="/embellishment-techniques/anti-counterfeiting-security-products/" class="nav-Navigation_Link">Anti-counterfeiting &amp; security products</a></li> <li class="nav-Navigation_Item"><a href="/embellishment-techniques/embossing-debossing/" class="nav-Navigation_Link">Embossing &amp; debossing</a></li> <li class="nav-Navigation_Item"><a href="/embellishment-techniques/high-performance-inks/" class="nav-Navigation_Link">High performance inks</a></li> <li class="nav-Navigation_Item"><a href="/embellishment-techniques/label-glass/" class="nav-Navigation_Link">Label' Glass</a></li></ul></li>

          <li aria-current="false" class="nav-Navigation_Item nav-Navigation_Item-hasDropdown"><div class="nav-Navigation_Main"><a href="/label-packaging-formats/" class="nav-Navigation_Link">
            Label &amp; Packaging formats
          </a> <span class="nav-Navigation_DropdownIndicator">

           <!--  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82 48"><path fill-rule="evenodd" d="M80.84 5.18L76.77 1.105C76.225.562 75.6.29 74.893.29c-.705 0-1.33.272-1.873.816L41 33.126 8.98 1.105C8.44.564 7.814.293 7.108.293s-1.33.27-1.874.815L1.16 5.18C.616 5.723.345 6.348.345 7.054c0 .706.272 1.33.815 1.874l37.966 37.967c.543.543 1.168.814 1.874.814.706 0 1.33-.272 1.873-.815L80.84 8.928c.544-.543.814-1.168.814-1.874 0-.706-.27-1.33-.813-1.875z"></path></svg -->

            </span></div> <ul class="nav-Navigation_Dropdown" style=""><li class="nav-Navigation_Item"><a href="/label-packaging-formats/wrapeel/" class="nav-Navigation_Link">Wrapeel</a></li> <li class="nav-Navigation_Item"><a href="/label-packaging-formats/peel-read/" class="nav-Navigation_Link">Peel &amp; read</a></li> <li class="nav-Navigation_Item"><a href="/label-packaging-formats/booklets/" class="nav-Navigation_Link">Booklets</a></li> <li class="nav-Navigation_Item"><a href="/label-packaging-formats/sheeted-labels/" class="nav-Navigation_Link">Sheeted labels</a></li> <li class="nav-Navigation_Item"><a href="/label-packaging-formats/flexible-packaging-sachets-foil-packs/" class="nav-Navigation_Link">Flexible packaging, sachets &amp; foil packs</a></li> <li class="nav-Navigation_Item"><a href="/label-packaging-formats/single-ply-pressure-sensitive-labels/" class="nav-Navigation_Link">Single-ply pressure sensitive labels</a></li></ul></li>

          <li aria-current="false" class="nav-Navigation_Item"><div class="nav-Navigation_Main"><a href="/markets/" class="nav-Navigation_Link">
            Markets
          </a></div></li>

          <li aria-current="false" class="nav-Navigation_Item"><div class="nav-Navigation_Main"><a href="/portfolio/" class="nav-Navigation_Link">
            Portfolio
          </a></div></li>

          <li aria-current="false" class="nav-Navigation_Item"><div class="nav-Navigation_Main"><a href="/news/" class="nav-Navigation_Link">
            News
          </a></div></li>

          <li aria-current="false" class="nav-Navigation_Item nav-Navigation_Item-hasDropdown"><div class="nav-Navigation_Main"><a href="/contact/" class="nav-Navigation_Link">
            Contact
          </a> <span class="nav-Navigation_DropdownIndicator">

            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82 48"><path fill-rule="evenodd" d="M80.84 5.18L76.77 1.105C76.225.562 75.6.29 74.893.29c-.705 0-1.33.272-1.873.816L41 33.126 8.98 1.105C8.44.564 7.814.293 7.108.293s-1.33.27-1.874.815L1.16 5.18C.616 5.723.345 6.348.345 7.054c0 .706.272 1.33.815 1.874l37.966 37.967c.543.543 1.168.814 1.874.814.706 0 1.33-.272 1.873-.815L80.84 8.928c.544-.543.814-1.168.814-1.874 0-.706-.27-1.33-.813-1.875z"></path></svg> -->

            </span></div> <ul class="nav-Navigation_Dropdown" style=""><li class="nav-Navigation_Item"><a href="/contact/useful-documents/" class="nav-Navigation_Link">Useful documents</a></li></ul></li>

          <li aria-current="false" class="nav-Navigation_Item"><div class="nav-Navigation_Main"><a href="/gdpr-privacy-policy/" class="nav-Navigation_Link">
            GDPR Privacy Policy
          </a></div></li>

        </ul>
      </nav>
    </div>

    <div class="hd-Header_Bar">
      <a href="/" class="hd-Header_Logo">
       <!--  <svg></svg> -->
      </a>
      <div class="hd-Header_Trigger">
        <div aria-selected="true" class="nav-Trigger">
          <div class="nav-Trigger_Icon">
            <span class="nav-Trigger_Line nav-Trigger_Line-top"></span>
            <span class="nav-Trigger_Line nav-Trigger_Line-middle"></span>
            <span class="nav-Trigger_Line nav-Trigger_Line-bottom"></span>
            <p class="nav-Trigger_Text">Close</p>
          </div>
        </div>
        <div class="hd-Header_Share">
          <div class="shr-Trigger">
            <span class="shr-Trigger_Icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                <g fill-rule="evenodd">
                  <path d="M24 13h2v13H0V0h13v2H2v22h22V13z"></path>
                  <path d="M24.043 3.34v5.237H26V0h-8.577v1.957h5.236L12.586 12.03l1.384 1.383L24.044 3.34z"></path>
                  <path d="M24.043 3.34v5.237H26V0h-8.577v1.957h5.236L12.586 12.03l1.384 1.383L24.044 3.34z"></path>
                </g>
              </svg>
            </span>
            <p class="shr-Trigger_Text">Share</p>
          </div>
        </div>

      </div>

  </header>

  <div class="lyt-Content_Outer">
    <div class="lyt-Content ">
      <div class="lyt-Content_Inner">
        <main class="lyt-Main ">
          <section class="sec-HomepageHero">
            <div class="sec-HomepageHero_Body">
              <div class="car-HeroCarousel">
                <div class="car-HeroCarousel_Slides">
                  <div aria-current="false" class="car-HeroCarousel_Slide" style="">
                    <div class="car-HeroCarousel_SlideInner">
                      <div class="car-HeroCarousel_SlideColumns">
                        <div class="car-HeroCarousel_SlideColumn car-HeroCarousel_SlideColumn-image">
                          <div class="car-HeroCarousel_SlideImageContainer">
                            <figure class="img-Image">
                              <div class="img-Image_AspectRatioHolder">
                                <div class="img-Image_AspectRatio" style="padding-bottom: 88.9621%;">
                                </div>
                                <div class="img-Image_Media img-Image_Media-largeLoaded">
                                  <img alt="" src="/media/cache/27/d8/27d8e9df8b259ace9a49f4215eaa9aac.jpg" class="img-Image_Image img-Image_Image-small img-Image_Image-blurred img-Image_Image-loaded">
                                  <img src="/media/cache/55/d8/55d863c0c5c380ca33f9fe1f46d0cc3f.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded" alt="Packaging Innovations 2018: Visit the Royston Labels stand">
                                  <div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/55/d8/55d863c0c5c380ca33f9fe1f46d0cc3f.jpg&quot;);">
                                  </div>
                                </div>
                              </div>
                            </figure>
                          </div>
                        </div>
                        <div class="car-HeroCarousel_SlideColumn car-HeroCarousel_SlideColumn-content">
                          <div class="car-HeroCarousel_SlideContent">
                            <p class="car-HeroCarousel_SlideKicker">Packaging Innovations 2018</p>
                            <h1 class="car-HeroCarousel_SlideTitle">Visit the Royston Labels stand F22</h1>
                            <a href="https://www.roystonlabels.co.uk/news/packaging-innovations-2018-visit-royston-labels-st/" class="car-HeroCarousel_SlideLink btn-Primary">Register to attend</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div aria-current="true" class="car-HeroCarousel_Slide" style=""><div class="car-HeroCarousel_SlideInner">
                    <div class="car-HeroCarousel_SlideColumns">
                      <div class="car-HeroCarousel_SlideColumn car-HeroCarousel_SlideColumn-image">
                        <div class="car-HeroCarousel_SlideImageContainer">
                          <figure class="img-Image">
                            <div class="img-Image_AspectRatioHolder">
                              <div class="img-Image_AspectRatio" style="padding-bottom: 56.25%;">
                              </div>
                              <div class="img-Image_Media img-Image_Media-largeLoaded">
                                <img alt="" src="/media/cache/2d/e6/2de61a3dbcf9b140f34b817073e9e6cf.jpg" class="img-Image_Image img-Image_Image-small img-Image_Image-blurred img-Image_Image-loaded">
                                <img src="/media/cache/af/12/af1204e673fa918c347501b46cd16f3e.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded" alt="Ren Evercalm">

                                <div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/af/12/af1204e673fa918c347501b46cd16f3e.jpg&quot;);">
                                </div>
                              </div>
                            </div>
                          </figure>
                        </div>
                      </div>
                      <div class="car-HeroCarousel_SlideColumn car-HeroCarousel_SlideColumn-content">
                        <div class="car-HeroCarousel_SlideContent">
                          <p class="car-HeroCarousel_SlideKicker">REN Evercalm</p>
                          <h2 class="car-HeroCarousel_SlideTitle">Three high-gloss labels and a waterproof sachet. </h2>
                          <a href="https://www.roystonlabels.co.uk/portfolio/ren-evercalm/" class="car-HeroCarousel_SlideLink btn-Primary">Read more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div aria-current="false" class="car-HeroCarousel_Slide" style="">
                  <div class="car-HeroCarousel_SlideInner">
                    <div class="car-HeroCarousel_SlideColumns">
                      <div class="car-HeroCarousel_SlideColumn car-HeroCarousel_SlideColumn-image">
                        <div class="car-HeroCarousel_SlideImageContainer"><figure class="img-Image">
                          <div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 56.25%;"></div> <div class="img-Image_Media img-Image_Media-largeLoaded"><img alt="" src="/media/cache/a8/a6/a8a68b55bf071e4e1288a13dd5eaa860.jpg" class="img-Image_Image img-Image_Image-small img-Image_Image-blurred img-Image_Image-loaded"><img src="/media/cache/3d/74/3d74c501bdc945c7c263d32ace592b7f.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded" alt="Hidden Curiosities by Royston Labels "><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/3d/74/3d74c501bdc945c7c263d32ace592b7f.jpg&quot;);"></div></div></div></figure></div></div> <div class="car-HeroCarousel_SlideColumn car-HeroCarousel_SlideColumn-content"><div class="car-HeroCarousel_SlideContent"><p class="car-HeroCarousel_SlideKicker">Hidden Curiosities Gin</p> <h2 class="car-HeroCarousel_SlideTitle">This one-of-a-kind label displays the visual power of printing on the reverse.</h2> <a href="https://www.roystonlabels.co.uk/portfolio/hidden-curiosities-gin/" class="car-HeroCarousel_SlideLink btn-Primary">View project</a></div></div>
                        </div></div></div> <div aria-current="false" class="car-HeroCarousel_Slide" style=""><div class="car-HeroCarousel_SlideInner"><div class="car-HeroCarousel_SlideColumns"><div class="car-HeroCarousel_SlideColumn car-HeroCarousel_SlideColumn-image"><div class="car-HeroCarousel_SlideImageContainer"><figure class="img-Image"><div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 56.25%;"></div> <div class="img-Image_Media img-Image_Media-largeLoaded"><img alt="" src="/media/cache/6f/ba/6fba946b568a708df64b74e714572d9c.jpg" class="img-Image_Image img-Image_Image-small img-Image_Image-blurred img-Image_Image-loaded"><img src="/media/cache/0d/7f/0d7f2b1bd06cbc2b5a7e1ce0d900e3f7.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded" alt="Eco-Friendly Labels by Royston Labels "><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/0d/7f/0d7f2b1bd06cbc2b5a7e1ce0d900e3f7.jpg&quot;);"></div></div></div></figure></div></div> <div class="car-HeroCarousel_SlideColumn car-HeroCarousel_SlideColumn-content"><div class="car-HeroCarousel_SlideContent"><p class="car-HeroCarousel_SlideKicker">Our Eco-Friendly Labels</p> <h2 class="car-HeroCarousel_SlideTitle">A Look at Royston’s Sustainable Materials</h2> <a href="https://www.roystonlabels.co.uk/news/our-eco-friendly-labels-look-roystons-sustainable-/" class="car-HeroCarousel_SlideLink btn-Primary">Read article</a>
                        </div></div></div></div></div></div> <div class="car-HeroCarousel_Dots"><div aria-current="false" class="car-HeroCarousel_Dot"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" class="svg-Dot"><clipPath id="clipCircle"><circle r="24" cx="35" cy="35"></circle></clipPath> <circle r="30" cx="35" cy="35" fill="none" stroke-width="3" class="svg-Dot_Circle"></circle> <image xlink:href="/media/cache/9c/52/9c52f0b8013f6c52e4e227da4bfb9497.jpg" x="11" y="11" height="48px" width="48px" clip-path="url(#clipCircle)" class="svg-Dot_Image"></image></svg></div> <div aria-current="true" class="car-HeroCarousel_Dot"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" class="svg-Dot"><clipPath id="clipCircle"><circle r="24" cx="35" cy="35"></circle></clipPath> <circle r="30" cx="35" cy="35" fill="none" stroke-width="3" class="svg-Dot_Circle"></circle>
                          <image xlink:href="/media/cache/e0/0b/e00bb1ffb7d081a089921a3edd15f3da.jpg" x="11" y="11" height="48px" width="48px" clip-path="url(#clipCircle)" class="svg-Dot_Image"></image></svg></div> <div aria-current="false" class="car-HeroCarousel_Dot"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" class="svg-Dot"><clipPath id="clipCircle"><circle r="24" cx="35" cy="35"></circle></clipPath> <circle r="30" cx="35" cy="35" fill="none" stroke-width="3" class="svg-Dot_Circle"></circle> <image xlink:href="/media/cache/ac/d1/acd1d4a9c68541364b87043b4033978d.jpg" x="11" y="11" height="48px" width="48px" clip-path="url(#clipCircle)" class="svg-Dot_Image"></image></svg></div> <div aria-current="false" class="car-HeroCarousel_Dot"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" class="svg-Dot"><clipPath id="clipCircle"><circle r="24" cx="35" cy="35"></circle></clipPath> <circle r="30" cx="35" cy="35" fill="none" stroke-width="3" class="svg-Dot_Circle"></circle> <image xlink:href="/media/cache/16/26/16269302decddf009b8117cb68a52815.jpg" x="11" y="11" height="48px" width="48px" clip-path="url(#clipCircle)" class="svg-Dot_Image"></image></svg></div></div></div></div></section> <section class="cta-Split cta-Split-tight"><div class="cta-Split_Columns"><a href="/markets/" class="cta-Split_Column"><div class="cta-Split_Body"><h3 class="cta-Split_Title">Market expertise</h3> <p class="cta-Split_Text">Bringing packaging design to life is what we do best. We‘re an award winning UK manufacturer, specialising in producing beautiful, fit for purpose labels that stand out on the shelf.</p> <span class="cta-Split_Link btn-Secondary">Learn more</span>
                          </div></a> <a href="/portfolio/" class="cta-Split_Column"><div class="cta-Split_Body"><h3 class="cta-Split_Title">Award-winning portfolio</h3> <p class="cta-Split_Text">Our industry-spanning expertise and superior label manufacturing capabilities mean that, from brief to delivery, we provide exceptional service at every stage of the process. </p> <span class="cta-Split_Link btn-Secondary">View our portfolio</span></div></a></div></section> <section class="sec-Section sec-Section-dark"><div class="sec-Section_Inner"><header class="sec-Section_Header"><h2 class="sec-Section_Title sec-Section_Title-large">Whatever type of label you need, our expert team will take care of it</h2></header> <div class="sec-Section_Body"><div class="lst-Cards"><ul class="lst-Cards_Items"><li class="lst-Cards_Item"><a href="/pre-press-services/" class="crd-Card"><div class="crd-Card_ImageContainer"><figure class="img-Image"><div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 81.8182%;"></div> <div class="img-Image_Media"><img alt="" src="/media/cache/e1/f3/e1f35287cc53fd22547227ae665b271e.jpg" class="img-Image_Image img-Image_Image-small"><img src="/media/cache/e1/f3/e1f35287cc53fd22547227ae665b271e.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded"><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/e1/f3/e1f35287cc53fd22547227ae665b271e.jpg&quot;);"></div></div></div></figure></div> <div class="crd-Card_Body crd-Card_Body-constrained"><h3 class="crd-Card_Title">Pre-press services</h3></div></a></li> <li class="lst-Cards_Item"><a href="/print-technologies/" class="crd-Card"><div class="crd-Card_ImageContainer"><figure class="img-Image"><div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 81.8182%;"></div> <div class="img-Image_Media"><img alt="" src="/media/cache/d0/14/d014db66bab3d8e7b55a90a4e74ff9d3.jpg" class="img-Image_Image img-Image_Image-small"><img src="/media/cache/d0/14/d014db66bab3d8e7b55a90a4e74ff9d3.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded"><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/d0/14/d014db66bab3d8e7b55a90a4e74ff9d3.jpg&quot;);"></div></div></div></figure></div> <div class="crd-Card_Body crd-Card_Body-constrained"><h3 class="crd-Card_Title">Print technologies</h3></div></a></li> <li class="lst-Cards_Item"><a href="/embellishment-techniques/" class="crd-Card"><div class="crd-Card_ImageContainer"><figure class="img-Image"><div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 81.8182%;"></div> <div class="img-Image_Media"><img alt="" src="/media/cache/d7/44/d7445e099d2abd6724739157a9045955.jpg" class="img-Image_Image img-Image_Image-small"><img src="/media/cache/d7/44/d7445e099d2abd6724739157a9045955.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded"><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/d7/44/d7445e099d2abd6724739157a9045955.jpg&quot;);"></div></div></div></figure></div> <div class="crd-Card_Body crd-Card_Body-constrained"><h3 class="crd-Card_Title">Embellishment techniques</h3></div></a></li></ul></div></div></div></section> <section class="sec-BrandCarousel sec-BrandCarousel-dark"><div class="sec-BrandCarousel_Body"><div class="car-BrandCarousel"><div class="car-BrandCarousel_Slides" style="width: 2360px; transform: translateX(-1180px);"><div class="car-BrandCarousel_Slide" aria-current="false" style="width: 1180px;"><div class="car-BrandCarousel_SlideImageContainer" style="height: 583px;"><img alt="" src="/media/cache/69/ac/69aca00fc3db057e6dbb01d234e88209.png" class="car-BrandCarousel_Image"></div> <div class="car-BrandCarousel_SlideInner"><header class="car-BrandCarousel_SlideHeader"><button type="button" class="car-BrandCarousel_Control car-BrandCarousel_Control-prev"><svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M15.82 14.067l-4.176 3.606 1.384 1.384 6.02-5.962L13.027 7l-1.384 1.384 4.288 3.725h-6.88v1.953l6.77.004z"></path> <circle stroke-width="2" cx="13" cy="13" r="12"></circle></g></svg></button> <h4 class="car-BrandCarousel_SlideTitle">Working with leading brands</h4> <button type="button" class="car-BrandCarousel_Control car-BrandCarousel_Control-next" disabled=""><svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M15.82 14.067l-4.176 3.606 1.384 1.384 6.02-5.962L13.027 7l-1.384 1.384 4.288 3.725h-6.88v1.953l6.77.004z"></path> <circle stroke-width="2" cx="13" cy="13" r="12"></circle></g></svg></button></header> <div class="car-BrandCarousel_SlideBody"><div class="clnt-ClientList"><ul class="clnt-ClientList_Items"><li class="clnt-ClientList_Item"><div class="clnt-Client"><img alt="" src="/media/cache/39/c1/39c1a79d92d2558377bcd0a092ce695d.png" srcset="/media/cache/bf/8e/bf8e07e4df1ec55fbc02e6ed7fac40c6.png 2x" class="clnt-Client_Image"></div></li> <li class="clnt-ClientList_Item"><div class="clnt-Client"><img alt="" src="/media/cache/89/8e/898e6ed74883cb652f6db4023e4d86a9.png" srcset="/media/cache/f1/cb/f1cbb08fe2ce2db3804f1ee117cb4e23.png 2x" class="clnt-Client_Image"></div></li> <li class="clnt-ClientList_Item"><div class="clnt-Client"><img alt="" src="/media/cache/66/a0/66a04097e1c3b0287c5a76f75e2f62ab.png" srcset="/media/cache/c7/d5/c7d5d8cb7421de5a07822e765f7a593a.png 2x" class="clnt-Client_Image"></div></li> <li class="clnt-ClientList_Item"><div class="clnt-Client"><img alt="" src="/media/cache/ee/ee/eeee8bfb5a58b070eb6a8e917d190f77.png" srcset="/media/cache/09/71/097176dee15c4f78dd5b87250bfa75a0.png 2x" class="clnt-Client_Image"></div></li></ul></div></div></div></div> <div class="car-BrandCarousel_Slide" aria-current="true" style="width: 1180px;"><div class="car-BrandCarousel_SlideImageContainer" style="height: 583px;"><img alt="" src="/media/cache/fd/94/fd9444a82d522845792a81868adb0320.png" class="car-BrandCarousel_Image"></div> <div class="car-BrandCarousel_SlideInner"><header class="car-BrandCarousel_SlideHeader"><button type="button" class="car-BrandCarousel_Control car-BrandCarousel_Control-prev"><svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M15.82 14.067l-4.176 3.606 1.384 1.384 6.02-5.962L13.027 7l-1.384 1.384 4.288 3.725h-6.88v1.953l6.77.004z"></path> <circle stroke-width="2" cx="13" cy="13" r="12"></circle></g></svg></button> <h4 class="car-BrandCarousel_SlideTitle">Working with leading brands</h4> <button type="button" class="car-BrandCarousel_Control car-BrandCarousel_Control-next" disabled=""><svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M15.82 14.067l-4.176 3.606 1.384 1.384 6.02-5.962L13.027 7l-1.384 1.384 4.288 3.725h-6.88v1.953l6.77.004z"></path> <circle stroke-width="2" cx="13" cy="13" r="12"></circle></g></svg></button></header> <div class="car-BrandCarousel_SlideBody"><div class="clnt-ClientList"><ul class="clnt-ClientList_Items"><li class="clnt-ClientList_Item"><div class="clnt-Client"><img alt="" src="/media/cache/e0/f6/e0f675b479250e56df8fad2e5326d4fc.jpg" srcset="/media/cache/d2/3a/d23ac49467db9b4f678e99708b9c7870.jpg 2x" class="clnt-Client_Image"></div></li> <li class="clnt-ClientList_Item"><div class="clnt-Client"><img alt="" src="/media/cache/2a/43/2a43e6e9a65bf3b08f1a5aa82feaf162.jpg" srcset="/media/cache/81/3c/813c798924f534d893a13312cb2e1e14.jpg 2x" class="clnt-Client_Image"></div></li> <li class="clnt-ClientList_Item"><div class="clnt-Client"><img alt="" src="/media/cache/e4/89/e489e59a8cd15acfd174f7189cc7211b.jpg" srcset="/media/cache/85/68/85686a514623cc11b66f40289d9de200.jpg 2x" class="clnt-Client_Image"></div></li> <li class="clnt-ClientList_Item"><div class="clnt-Client"><img alt="" src="/media/cache/c3/f0/c3f03e65cdb611dbd7f447db986c51cc.jpg" srcset="/media/cache/97/82/978218050a584bd9cd8f21202b87e260.jpg 2x" class="clnt-Client_Image"></div></li></ul></div></div></div></div></div></div></div></section> <section class="sec-Section sec-Section-grey"><div class="sec-Section_Inner"><header class="sec-Section_Header"><h2 class="sec-Section_Title">Some of our most recent projects</h2></header> <div class="sec-Section_Body"><div class="prj-SmallList"><ul class="prj-SmallList_Items"><li class="prj-SmallList_Item"><a href="/portfolio/london-dry-gin/" class="crd-LargeImage crd-LargeImage-small crd-LargeImage-indent"><div class="crd-LargeImage_ImageContainer"><figure class="img-Image"><div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 91.3043%;"></div> <div class="img-Image_Media img-Image_Media-largeLoaded"><img alt="" src="/media/cache/0a/1d/0a1d0602d3f648e435cb870b541e37bc.jpg" class="img-Image_Image img-Image_Image-small img-Image_Image-blurred img-Image_Image-loaded"><img src="/media/cache/e6/9f/e69f992c8c39506b80d3cdf5f0928f12.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded"><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/e6/9f/e69f992c8c39506b80d3cdf5f0928f12.jpg&quot;);"></div></div></div></figure></div> <div class="crd-LargeImage_Overlay"><p class="crd-LargeImage_Kicker">Redsmith</p> <h2 class="crd-LargeImage_Title">London Dry Gin</h2></div></a></li> <li class="prj-SmallList_Item"><a href="/portfolio/rare-old-scottish/" class="crd-LargeImage crd-LargeImage-small crd-LargeImage-indent"><div class="crd-LargeImage_ImageContainer"><figure class="img-Image"><div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 91.3043%;"></div> <div class="img-Image_Media img-Image_Media-largeLoaded"><img alt="" src="/media/cache/52/6d/526dd7ba0b36683eca6bec31c9c97948.jpg" class="img-Image_Image img-Image_Image-small img-Image_Image-blurred img-Image_Image-loaded"><img src="/media/cache/cf/93/cf930374a2e13b0f706e60c16f592919.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded"><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/cf/93/cf930374a2e13b0f706e60c16f592919.jpg&quot;);"></div></div></div></figure></div> <div class="crd-LargeImage_Overlay"><p class="crd-LargeImage_Kicker">James Catto's</p> <h2 class="crd-LargeImage_Title">Rare Old Scottish Blended Scotch Whisky</h2></div></a></li> <li class="prj-SmallList_Item"><a href="/portfolio/artisan-gin/" class="crd-LargeImage crd-LargeImage-small crd-LargeImage-indent"><div class="crd-LargeImage_ImageContainer"><figure class="img-Image"><div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 91.3043%;"></div> <div class="img-Image_Media img-Image_Media-largeLoaded"><img alt="" src="/media/cache/8d/f5/8df5323e018830daaa18bad1cfc2186f.jpg" class="img-Image_Image img-Image_Image-small img-Image_Image-blurred img-Image_Image-loaded"><img src="/media/cache/cf/fe/cffea3d2221690be5a3ce5173fd0a5d2.jpg" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded"><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/cf/fe/cffea3d2221690be5a3ce5173fd0a5d2.jpg&quot;);"></div></div></div></figure></div> <div class="crd-LargeImage_Overlay"><p class="crd-LargeImage_Kicker">Angel Gin Divine</p> <h2 class="crd-LargeImage_Title">Artisan Gin</h2></div></a></li></ul></div></div> <footer class="sec-Section_Footer"><a href="/portfolio/" class="sec-Section_Link btn-Primary">View our portfolio</a></footer></div></section></main></div></div> <section class="cta-SamplePack"><div class="cta-SamplePack_Inner"><div class="cta-SamplePack_Body"><div class="cta-SamplePack_Columns"><div class="cta-SamplePack_Column cta-SamplePack_Column-image"><div class="cta-SamplePack_ImageContainer"><figure class="img-Image"><div class="img-Image_AspectRatioHolder"><div class="img-Image_AspectRatio" style="padding-bottom: 82.6866%;"></div> <div class="img-Image_Media"><img alt="" src="/media/cache/3b/6d/3b6d8e057d8ac664876f8c02d2936e06.png" class="img-Image_Image img-Image_Image-small"><img src="/media/cache/3b/6d/3b6d8e057d8ac664876f8c02d2936e06.png" class="img-Image_Image img-Image_Image-large img-Image_Image-loaded"><div class="img-Image_Image img-Image_Image-ie img-Image_Image-loaded" style="background-image: url(&quot;/media/cache/3b/6d/3b6d8e057d8ac664876f8c02d2936e06.png&quot;);"></div></div></div></figure></div></div> <div class="cta-SamplePack_Column cta-SamplePack_Column-content"><h3 class="cta-SamplePack_Title">Receive our sample label pack</h3> <p class="cta-SamplePack_Text">Bringing packaging design to life is what we do best. We‘re an award winning UK manufacturer, specialising in producing beautiful, fit for purpose labels that stand out on the shelf.</p> <button type="button" class="cta-SamplePack_Link btn-Secondary">Get in touch</button></div></div></div></div> <div class="mod-Modal"><div class="mod-Modal_Inner"><form data-ajax-action="/contact/sample-pack-ajax/" class="mod-Modal_Wrapper"><header class="mod-Modal_Header"><h3 class="mod-Modal_Title">Request a Royston sample pack</h3></header> <div class="mod-Modal_Body"><div class="frm-ModalSuccess" style="display: none;"><a href="/" class="frm-ModalSuccess_Logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 123"><defs><linearGradient id="logoa" x1="0%" y1="0%" y2="0%"><stop stop-color="#636466" offset="0%"></stop> <stop stop-color="#A2A3A4" offset="22.812%"></stop> <stop stop-color="#D9DADB" offset="60.902%"></stop> <stop stop-color="#DDDEDF" offset="58.39%"></stop> <stop stop-color="#9D9FA2" offset="76.118%"></stop> <stop stop-color="#9D9FA2" offset="89.473%"></stop> <stop stop-color="#CFD0D2" offset="100%"></stop></linearGradient> <linearGradient id="logob" x1="0%" x2="0%" y1="6.241%" y2="100%"><stop stop-color="#636466" offset="0%"></stop> <stop stop-color="#A2A3A4" offset="22.812%"></stop> <stop stop-color="#DDDEDF" offset="58.39%"></stop> <stop stop-color="#D9DADB" offset="62.297%"></stop> <stop stop-color="#9D9FA2" offset="91.221%"></stop> <stop stop-color="#9D9FA2" offset="100%"></stop></linearGradient> <linearGradient id="logoc" x1="3.883%" x2="96.19%" y1="100%" y2="13.101%"><stop stop-color="#636466" offset="0%"></stop> <stop stop-color="#A2A3A4" offset="22.812%"></stop> <stop stop-color="#DDDEDF" offset="47.178%"></stop> <stop stop-color="#D9DADB" offset="52.083%"></stop> <stop stop-color="#9D9FA2" offset="70.002%"></stop> <stop stop-color="#9D9FA2" offset="80.427%"></stop> <stop stop-color="#9D9FA2" offset="89.473%"></stop> <stop stop-color="#CFD0D2" offset="100%"></stop></linearGradient></defs> <g fill-rule="evenodd"><path fill="url(#logoa)" d="M.918 122.448s30.787 2.768 30.787-35.48V83.97C29.525 93.074 17.52 98.012.918 101.686v20.762z"></path> <path fill="url(#logob)" d="M52.193 97.002l21.294 25.446h27.218L58.9 72.156c-6.266 4.686-10.6 10.024-10.6 16.468 0 2.746 1.165 4.483 3.893 8.378z"></path> <path fill="url(#logoc)" d="M10.895 0v88.774c0 1.86-.503 4.36-2.064 6.49 9.516-2.07 22.875-8.186 22.875-23.51V18.866H48c8.382 0 16.46 4.457 16.46 12.853 0 13.223-19.208 13.104-19.208 27.823v25.22c0-18.735 40.353-22.466 40.353-55.214 0-8.397-8.188-29.55-36.97-29.55h-37.74z"></path></g></svg></a> <h4 class="frm-ModalSuccess_Title">Thanks for requesting a Royston sample pack</h4> <p class="frm-ModalSuccess_Text">
                We try our best to tailor all of our sample packs to your needs.
                A member of our team will be in touch shortly!
              </p> <button type="button" class="frm-ModalSuccess_Link btn-Primary">Close</button></div> <div class="frm-Form"><div class="frm-Form_Items"><div class="frm-Form_Item"><label for="first_name" class="frm-Form_Label">First name</label> <input type="text" name="first_name" id="first_name" placeholder="John" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div> <div class="frm-Form_Item"><label for="last_name" class="frm-Form_Label">Last name</label> <input type="text" name="last_name" id="last_name" placeholder="Doe" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div></div> <div class="frm-Form_Items"><div class="frm-Form_Item"><label for="email_address" class="frm-Form_Label">Email address</label> <input type="email" name="email_address" id="email_address" placeholder="JohnRoyston@companyname.com" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div> <div class="frm-Form_Item"><label for="contact_number" class="frm-Form_Label">Contact number</label> <input type="text" name="contact_number" id="contact_number" placeholder="01332 345 670" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div></div> <div class="frm-Form_Items"><div class="frm-Form_Item"><label for="company_name" class="frm-Form_Label">Company name</label> <input type="text" name="company_name" id="company_name" placeholder="Royston Labels" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div> <div class="frm-Form_Item"><label for="role" class="frm-Form_Label">Role / Department</label> <input type="text" name="role" id="role" placeholder="Managing Director" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div></div> <div class="frm-Form_Items"><div class="frm-Form_Item"><label for="address_line_1" class="frm-Form_Label">Address line 1</label> <input type="text" name="address_line_1" id="address_line_1" placeholder="1. Your Street" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div> <div class="frm-Form_Item"><label for="address_line_2" class="frm-Form_Label">Address line 2</label> <input type="text" name="address_line_2" id="address_line_2" placeholder="Unit 10" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div></div> <div class="frm-Form_Items"><div class="frm-Form_Item"><label for="city" class="frm-Form_Label">City / Town</label> <input type="text" name="city" id="city" placeholder="Royston" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div> <div class="frm-Form_Item"><label for="post_code" class="frm-Form_Label">Postcode</label> <input type="text" name="post_code" id="post_code" placeholder="SG8 5HD" class="frm-Form_Input"> <div class="frm-Form_Extras"></div></div></div></div></div> <footer class="mod-Modal_Footer"><button type="submit" class="frm-Form_Submit btn-Primary">Request a sample pack</button> <button type="submit" class="mod-Modal_Close">No thanks</button></footer></form></div></div></section></div>


              <footer class="ft-Footer"><div class="ft-Footer_Inner"><div class="ft-Footer_Body"><div class="soc-SocialsBlock soc-SocialsBlock-onDark"><div class="soc-SocialsBlock_Columns"><div class="soc-SocialsBlock_Column soc-SocialsBlock_Column-newsletter"><h4 class="soc-SocialsBlock_Title">Stay up-to-date with our newsletter</h4> <p class="soc-SocialsBlock_Text">Receive updates, project launches and useful articles straight to your inbox</p> <form method="POST" action="https://roystonlabels.us3.list-manage.com/subscribe?u=e89451b281a977e521a5072fd&amp;id=959f5a1d3d" class="soc-SocialsBlock_Form"><div class="soc-SocialsBlock_InputWrapper"><input type="text" name="MERGE0" placeholder="Email address" class="soc-SocialsBlock_Input"> <button type="submit" class="soc-SocialsBlock_Submit">Subscribe</button></div></form></div> <div class="soc-SocialsBlock_Column soc-SocialsBlock_Column-socials soc-SocialsBlock_Column-socials1"><div class="soc-SocialsBlock_Socials"><div class="soc-SocialsBlock_SocialsItem"><a href="https://twitter.com/roystonlabels?lang=en" class="soc-SocialsBlock_Social soc-SocialsBlock_Social-twitter" target="_blank" rel=" noopener noreferrer"><span class="soc-SocialsBlock_SocialIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612"><path d="M612 116.258c-22.525 9.98-46.694 16.75-72.088 19.772 25.93-15.527 45.777-40.155 55.184-69.41-24.322 14.378-51.17 24.82-79.775 30.48-22.906-24.438-55.49-39.66-91.63-39.66-69.333 0-125.55 56.218-125.55 125.514 0 9.828 1.11 19.427 3.25 28.606-104.325-5.24-196.834-55.223-258.75-131.174-10.822 18.51-16.98 40.078-16.98 63.1 0 43.56 22.182 81.994 55.836 104.48-20.575-.688-39.926-6.348-56.867-15.756v1.568c0 60.806 43.29 111.554 100.692 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.2 117.253 87.194-42.946 33.655-97.098 53.656-155.915 53.656-10.134 0-20.116-.612-29.944-1.72 55.568 35.68 121.537 56.484 192.44 56.484 230.947 0 357.187-191.29 357.187-357.188l-.42-16.253C573.87 163.525 595.21 141.42 612 116.257z"></path></svg></span>

                        Follow us on twitter
                      </a></div> <div class="soc-SocialsBlock_SocialsItem"><a href="https://www.linkedin.com/company-beta/2405551/" class="soc-SocialsBlock_Social soc-SocialsBlock_Social-linkedin" target="_blank" rel=" noopener noreferrer"><span class="soc-SocialsBlock_SocialIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 382 382"><path d="M347.445 0H34.555C15.47 0 0 15.47 0 34.555v312.89C0 366.528 15.47 382 34.555 382h312.89C366.528 382 382 366.53 382 347.444V34.554C382 15.472 366.53 0 347.445 0zM118.207 329.844c0 5.554-4.502 10.056-10.056 10.056H65.346c-5.554 0-10.056-4.502-10.056-10.056v-179.44c0-5.555 4.5-10.057 10.055-10.057h42.806c5.555 0 10.057 4.502 10.057 10.056v179.44zm-31.46-206.412c-22.458 0-40.665-18.207-40.665-40.666S64.29 42.1 86.748 42.1s40.666 18.207 40.666 40.666-18.206 40.666-40.666 40.666zM341.91 330.654c0 5.106-4.14 9.246-9.246 9.246H286.73c-5.106 0-9.246-4.14-9.246-9.246v-84.168c0-12.556 3.683-55.02-32.813-55.02-28.308 0-34.05 29.065-35.203 42.11v97.078c0 5.106-4.14 9.246-9.246 9.246h-44.425c-5.106 0-9.246-4.14-9.246-9.246v-181.06c0-5.107 4.14-9.247 9.245-9.247h44.426c5.107 0 9.247 4.14 9.247 9.246v15.655c10.497-15.753 26.097-27.912 59.312-27.912 73.55 0 73.13 68.716 73.13 106.472v86.846z"></path></svg></span>

                        Connect on linkedin
                      </a></div></div></div> <div class="soc-SocialsBlock_Column soc-SocialsBlock_Column-socials soc-SocialsBlock_Column-socials2"><div class="soc-SocialsBlock_Socials"><div class="soc-SocialsBlock_SocialsItem"><a href="https://www.facebook.com/RoystonLabels/" class="soc-SocialsBlock_Social soc-SocialsBlock_Social-facebook" target="_blank" rel=" noopener noreferrer"><span class="soc-SocialsBlock_SocialIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408.788 408.788"><path d="M353.7 0H55.088C24.665 0 .002 24.662.002 55.085V353.7c0 30.424 24.662 55.086 55.085 55.086h147.275l.25-146.078h-37.95c-4.932 0-8.935-3.988-8.954-8.92l-.182-47.087c-.02-4.958 3.996-8.988 8.955-8.988h37.883v-45.498c0-52.8 32.247-81.55 79.348-81.55h38.65c4.946 0 8.956 4.01 8.956 8.955v39.703c0 4.944-4.007 8.952-8.95 8.955l-23.72.01c-25.614 0-30.574 12.173-30.574 30.036v39.39h56.285c5.363 0 9.524 4.682 8.892 10.008l-5.582 47.087c-.534 4.505-4.355 7.9-8.892 7.9h-50.453l-.25 146.078h87.63c30.422 0 55.084-24.662 55.084-55.084V55.084C408.787 24.663 384.124 0 353.7 0z"></path></svg></span>

                        Like us on facebook
                      </a></div> <div class="soc-SocialsBlock_SocialsItem"><a href="https://uk.pinterest.com/roystonlabels/" class="soc-SocialsBlock_Social soc-SocialsBlock_Social-pinterest" target="_blank" rel=" noopener noreferrer"><span class="soc-SocialsBlock_SocialIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.198 112.198"><circle cx="56.099" cy="56.1" r="56.098"></circle> <path d="M60.627 75.122c-4.24-.328-6.023-2.43-9.35-4.45-1.827 9.59-4.06 18.785-10.678 23.588-2.046-14.496 2.997-25.384 5.34-36.94-3.993-6.72.48-20.247 8.9-16.914 10.362 4.098-8.973 24.987 4.007 27.596 13.55 2.724 19.083-23.513 10.68-32.047-12.143-12.32-35.344-.28-32.49 17.358.694 4.312 5.15 5.62 1.78 11.57-7.772-1.72-10.09-7.85-9.792-16.02.48-13.375 12.018-22.74 23.59-24.036 14.635-1.638 28.37 5.374 30.267 19.14 2.133 15.537-6.607 32.363-22.255 31.155z"></path></svg></span>

                        Follow us on pinterest
                      </a></div></div></div></div></div></div> <div class="ft-Footer_Privacy"><div class="ft-Footer_Left"><p class="ft-Footer_Copyright">Copyright Royston Labels 2018</p> <span class="ft-Footer_Divider"></span> <a href="/privacy-policy/" class="ft-Footer_Privacy-policy">Privacy</a></div> <div class="ft-Footer_Right"><a href="http://www.onespacemedia.com" class="ft-Footer_Onespacemedia" target="_blank" rel=" noopener noreferrer">
          Designed and built by Onespacemedia
        </a></div></div></div></footer>


<<pseudo:after>></<pseudo:after>>



</div>

<div class="mod-Share">
        <div class="mod-Share_Inner">
          <div class="mod-Share_Wrapper">
            <div class="mod-Share_Items">



                <a href="https://www.linkedin.com/shareArticle?url=http%3A//roystonlabels.co.uk/&amp;title=" class="mod-Share_Item mod-Share_Item-linkedin" target="_blank" rel=" noopener noreferrer">
                  <div class="mod-Share_ItemLogo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 382 382">
    <path d="M347.445 0H34.555C15.47 0 0 15.47 0 34.555v312.89C0 366.528 15.47 382 34.555 382h312.89C366.528 382 382 366.53 382 347.444V34.554C382 15.472 366.53 0 347.445 0zM118.207 329.844c0 5.554-4.502 10.056-10.056 10.056H65.346c-5.554 0-10.056-4.502-10.056-10.056v-179.44c0-5.555 4.5-10.057 10.055-10.057h42.806c5.555 0 10.057 4.502 10.057 10.056v179.44zm-31.46-206.412c-22.458 0-40.665-18.207-40.665-40.666S64.29 42.1 86.748 42.1s40.666 18.207 40.666 40.666-18.206 40.666-40.666 40.666zM341.91 330.654c0 5.106-4.14 9.246-9.246 9.246H286.73c-5.106 0-9.246-4.14-9.246-9.246v-84.168c0-12.556 3.683-55.02-32.813-55.02-28.308 0-34.05 29.065-35.203 42.11v97.078c0 5.106-4.14 9.246-9.246 9.246h-44.425c-5.106 0-9.246-4.14-9.246-9.246v-181.06c0-5.107 4.14-9.247 9.245-9.247h44.426c5.107 0 9.247 4.14 9.247 9.246v15.655c10.497-15.753 26.097-27.912 59.312-27.912 73.55 0 73.13 68.716 73.13 106.472v86.846z"></path>
</svg>
                  </div>

                  <span class="mod-Share_ItemText">Share on<br>Linkedin</span>

                  <span class="mod-Share_ItemLink">Share</span>
                </a>

                <a href="https://twitter.com/intent/tweet?url=http%3A//roystonlabels.co.uk/&amp;text=" class="mod-Share_Item mod-Share_Item-twitter" target="_blank" rel=" noopener noreferrer">
                  <div class="mod-Share_ItemLogo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
    <path d="M612 116.258c-22.525 9.98-46.694 16.75-72.088 19.772 25.93-15.527 45.777-40.155 55.184-69.41-24.322 14.378-51.17 24.82-79.775 30.48-22.906-24.438-55.49-39.66-91.63-39.66-69.333 0-125.55 56.218-125.55 125.514 0 9.828 1.11 19.427 3.25 28.606-104.325-5.24-196.834-55.223-258.75-131.174-10.822 18.51-16.98 40.078-16.98 63.1 0 43.56 22.182 81.994 55.836 104.48-20.575-.688-39.926-6.348-56.867-15.756v1.568c0 60.806 43.29 111.554 100.692 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.2 117.253 87.194-42.946 33.655-97.098 53.656-155.915 53.656-10.134 0-20.116-.612-29.944-1.72 55.568 35.68 121.537 56.484 192.44 56.484 230.947 0 357.187-191.29 357.187-357.188l-.42-16.253C573.87 163.525 595.21 141.42 612 116.257z"></path>
</svg>
                  </div>

                  <span class="mod-Share_ItemText">Share on<br>Twitter</span>

                  <span class="mod-Share_ItemLink">Tweet</span>
                </a>

                <a href="https://www.facebook.com/sharer.php?u=http%3A//roystonlabels.co.uk/" class="mod-Share_Item mod-Share_Item-facebook" target="_blank" rel=" noopener noreferrer">
                  <div class="mod-Share_ItemLogo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408.788 408.788">
    <path d="M353.7 0H55.088C24.665 0 .002 24.662.002 55.085V353.7c0 30.424 24.662 55.086 55.085 55.086h147.275l.25-146.078h-37.95c-4.932 0-8.935-3.988-8.954-8.92l-.182-47.087c-.02-4.958 3.996-8.988 8.955-8.988h37.883v-45.498c0-52.8 32.247-81.55 79.348-81.55h38.65c4.946 0 8.956 4.01 8.956 8.955v39.703c0 4.944-4.007 8.952-8.95 8.955l-23.72.01c-25.614 0-30.574 12.173-30.574 30.036v39.39h56.285c5.363 0 9.524 4.682 8.892 10.008l-5.582 47.087c-.534 4.505-4.355 7.9-8.892 7.9h-50.453l-.25 146.078h87.63c30.422 0 55.084-24.662 55.084-55.084V55.084C408.787 24.663 384.124 0 353.7 0z"></path>
</svg>
                  </div>

                  <span class="mod-Share_ItemText">Post on<br>Facebook</span>

                  <span class="mod-Share_ItemLink">Share</span>
                </a>

            </div>
          </div>
        </div>
      </div>


      <div class="mod-OutOfDate_Wrapper" id="OutOfDate" aria-hidden="true" style="display: none;">
      <div class="mod-OutOfDate">
        <div class="mod-OutOfDate_Inner">
          <div class="mod-OutOfDate_Body">
            <div class="mod-OutOfDate_Logo">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 123">
    <defs>
        <linearGradient id="logoa" x1="0%" y1="0%" y2="0%">
            <stop stop-color="#636466" offset="0%"></stop>
            <stop stop-color="#A2A3A4" offset="22.812%"></stop>
            <stop stop-color="#D9DADB" offset="60.902%"></stop>
            <stop stop-color="#DDDEDF" offset="58.39%"></stop>
            <stop stop-color="#9D9FA2" offset="76.118%"></stop>
            <stop stop-color="#9D9FA2" offset="89.473%"></stop>
            <stop stop-color="#CFD0D2" offset="100%"></stop>
        </linearGradient>
        <linearGradient id="logob" x1="0%" x2="0%" y1="6.241%" y2="100%">
            <stop stop-color="#636466" offset="0%"></stop>
            <stop stop-color="#A2A3A4" offset="22.812%"></stop>
            <stop stop-color="#DDDEDF" offset="58.39%"></stop>
            <stop stop-color="#D9DADB" offset="62.297%"></stop>
            <stop stop-color="#9D9FA2" offset="91.221%"></stop>
            <stop stop-color="#9D9FA2" offset="100%"></stop>
        </linearGradient>
        <linearGradient id="logoc" x1="3.883%" x2="96.19%" y1="100%" y2="13.101%">
            <stop stop-color="#636466" offset="0%"></stop>
            <stop stop-color="#A2A3A4" offset="22.812%"></stop>
            <stop stop-color="#DDDEDF" offset="47.178%"></stop>
            <stop stop-color="#D9DADB" offset="52.083%"></stop>
            <stop stop-color="#9D9FA2" offset="70.002%"></stop>
            <stop stop-color="#9D9FA2" offset="80.427%"></stop>
            <stop stop-color="#9D9FA2" offset="89.473%"></stop>
            <stop stop-color="#CFD0D2" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g fill-rule="evenodd">
        <path fill="url(#logoa)" d="M.918 122.448s30.787 2.768 30.787-35.48V83.97C29.525 93.074 17.52 98.012.918 101.686v20.762z"></path>
        <path fill="url(#logob)" d="M52.193 97.002l21.294 25.446h27.218L58.9 72.156c-6.266 4.686-10.6 10.024-10.6 16.468 0 2.746 1.165 4.483 3.893 8.378z"></path>
        <path fill="url(#logoc)" d="M10.895 0v88.774c0 1.86-.503 4.36-2.064 6.49 9.516-2.07 22.875-8.186 22.875-23.51V18.866H48c8.382 0 16.46 4.457 16.46 12.853 0 13.223-19.208 13.104-19.208 27.823v25.22c0-18.735 40.353-22.466 40.353-55.214 0-8.397-8.188-29.55-36.97-29.55h-37.74z"></path>
    </g>
</svg>
            </div>
            <h2 class="mod-OutOfDate_Title">It looks like your browser is out of date</h2>
            <p class="mod-OutOfDate_Text">Unfortunately, this browser is out-of-date. It’s easy to fix, though - just click on the button below to update your browser and pop back to the MW Luxury Packaging site, and you’ll be able to enjoy the full experience.</p>
            <a href="https://browser-update.org/update.html?force_outdated=true" class="mod-OutOfDate_Link btn-Primary" target="_blank" rel=" noopener noreferrer">Upgrade your browser</a>
            <button type="button" class="mod-OutOfDate_Link2" id="OutOfDate_Continue">Continue anyway</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/static/build/js/vendor-7c580932180c1373bfee.js"></script>

    <script type="text/javascript" src="/static/build/js/app-7c580932180c1373bfee.js"></script>

    <script type="text/javascript" src="/static/CACHE/js/2d818ea1f7df.js"></script>

    <script src="//browser-update.org/update.js"></script>

