.hd-Header:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    display: block;
    width: 50px;
    background-color: #1b1d1d;
}


// @media (min-width: 901px)
// .hd-Header_Menu {
//     position: relative;
//     top: 0;
//     min-width: 487px;
//     opacity: 1;
//     overflow-y: auto;
//     visibility: visible;
// }

// @media (min-width: 901px)
// .hd-Header_LogoFull {
//     align-items: center;
//     justify-content: center;
//     display: flex;
//     padding: 65px 30px 45px;
// }

